* {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("C:\UI Engineer\Dasmoto's Arts & Crafts\CSS\Images\pattern.jpeg");
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

#brushes {
    background-color: mediumspringgreen;
}


#frames {
    background-color: lightcoral;
}


#paint {
    background-color: skyblue;
}

#price {
    font-weight: bold;
    color: blue;
}